.js-accordion dd {
    display: none;
}

.js-accordion dd.ativo {
    display: block;
    animation: slideDown .5s forwards;
}

.js-accordion dt {
    padding-right: 30px;
}

.js-accordion dt::after {
    content: url('../assets/images/icon-plus.svg');
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.js-accordion dt.ativo::after {
    content: url('../assets/images/icon-minus.svg');
}

@keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      max-height: 1000px;
    }
}